<app-menu></app-menu>
<body>
<div align="center">
    <br/>
    <h1>
        Bienvenido
    </h1>
    <img src="assets\img\general_products.jpeg" />
</div>
<br/><br/><br/>
<div class="row" align="center">
    <app-squared-button class="column" text="Productos" image="assets/img/products_button.jpg" routerLink="/products-page"></app-squared-button>
    <app-squared-button class="column" text="Contacto" image="assets/img/contact_button.png" routerLink="/contact-page"></app-squared-button>
</div>
<label class="version">
    v.01
</label>
</body>
