<app-menu> </app-menu>
<body>
    <div class="product">
        <table>
            <tr>
                <td>
                    <app-squared-button image="\assets\img\products\general\jabones.jpg" routerLink="/soap-page"></app-squared-button>
                </td>
                <td class="title">
                    Jabones
                </td>
            </tr>
            <br />
            <tr>
                <td>
                    <app-squared-button image="\assets\img\products\general\alcoholes.jpg"></app-squared-button>
                </td>
                <td class="title">
                    Alcoholes
                </td>
            </tr>
            <br />
            <tr>
                <td>
                    <app-squared-button image="\assets\img\products\general\aceites.jpg"></app-squared-button>
                </td>
                <td class="title">
                    Aceites
                </td>
            </tr>
            <br />
            <tr>
                <td>
                    <app-squared-button image="\assets\img\products\general\infusiones.jpg"></app-squared-button>
                </td>
                <td class="title">
                    Infusiones
                </td>
            </tr>
            <br />
            <tr>
                <td>
                    <app-squared-button image="\assets\img\products\general\baño.jpg"></app-squared-button>
                </td>
                <td class="title">
                    Baño
                </td>
            </tr>
            <br />
            <tr>
                <td>
                    <app-squared-button image="\assets\img\products\general\otros.jpeg"></app-squared-button>
                </td>
                <td class="title">
                    Otros
                </td>
            </tr>
        </table>
    </div>
</body>