<app-menu> </app-menu>
<body>
    <br />
    <label class="title" for="soap-title">
        Jabones
    </label>
    <br />
    <div class="product">
        <table>
            <tr>
                <td>
                    <app-squared-button image="\assets\img\products\Soap\Lavender_soap.jpeg" routerLink="/lavender-soap-page"></app-squared-button>
                </td>
                &nbsp;&nbsp;
                <td class="subtitle">
                    Jabón de Lavanda
                </td>
            </tr>
            <br />
            <tr>
                <td>
                    <app-squared-button image="\assets\img\products\Soap\Marigold_soap.jpeg"></app-squared-button>
                </td>
                &nbsp;&nbsp;
                <td class="subtitle">
                    Jabón de Caléndula
                </td>
            </tr>
            <br />
            <tr>
                <td>
                    <app-squared-button image="\assets\img\products\Soap\5_clay_soap.jpeg"></app-squared-button>
                </td>
                &nbsp;&nbsp;
                <td class="subtitle">
                    Jabón de 5 Arcillas
                </td>
            </tr>
            <br />
            <tr>
                <td>
                    <app-squared-button image="\assets\img\products\Soap\Rosehip_soap.jpeg"></app-squared-button>
                </td>
                &nbsp;&nbsp;
                <td class="subtitle">
                    Jabón de Rosa Mosqueta
                </td>
            </tr>
            <br />
            <tr>
                <td>
                    <app-squared-button image="\assets\img\products\Soap\Honey_Cinnamon_soap.jpeg"></app-squared-button>
                </td>
                &nbsp;&nbsp;
                <td class="subtitle">
                    Jabón de Miel y Canela
                </td>
            </tr>
            <br />
        </table>
    </div>
</body>