<app-menu></app-menu>


<body class="center-content">
    <div>
        <div class="container">
            <img src="\assets\img\products\Soap\Lavender_soap.jpeg" />

        </div>
        <div class="modal">
            <app-heart-button></app-heart-button>
        </div>
        <br />
        <br />
        <label class="title">
            Jabón de Lavanda
        </label>
        <div>
            <br />
            <br />
            <mat-card class="card verdana">
                <mat-card-title-group>
                    <mat-card-title>
                        <label class="subtitle">
                            Propiedades:
                            <br /><br />
                            -Antiinflamatorio
                            <br />
                            -Regenerador
                            <br />
                            -Analgésico
                            <br />
                            -Antiséptico
                            <br />
                            -Repele insectos
                            <br />
                            -Acné

                        </label>
                    </mat-card-title>
                </mat-card-title-group>
            </mat-card>
            <br />
            <label class="subtitle">
                Ingredientes: manteca de coco,
                aceite de oliva, palma, karité,
                lavanda y citronela
            </label>
        </div>
    </div>
</body>