<body background="/assets/img/background.webp">
    <div >
        <div class="center-content">
            <br />
            <br />
            <br />
            <br />
            <label class="title verdana">
                Rioymar
            </label>
        </div>
        <br />
        <div>
            <mat-card class="card verdana">
                <mat-card-title-group>
                    <mat-card-title>
                        <label>
                            Cuidamos de ti,<br />
                            naturalmente.
                        </label>
                    </mat-card-title>
                    <mat-card-title>
                        <br />
                    </mat-card-title>
                    <mat-card-title>
                        Protege y cuida<br />
                        tu cuerpo con<br />
                        productos 100% naturales.
                    </mat-card-title>
                </mat-card-title-group>
            </mat-card>
        </div>
        <br/>
        <div align="center">
        <img src="assets\img\consejo1.jpg" />
    </div>
        <br />
        <div class="center-content">
            <app-long-button title="Okey" routerLink="/home-page"></app-long-button>
        </div>
    </div>
    <br/>
    <br/>
</body>